Requirements for TacOS
----------------------

PROBLEM WITH TODAY'S APPS:
   In my everyday life I use many softwares like Google Chrome, Outlook, Photos app etc. All of them are well crafted software that let me do what I want in simple and effective ways. The problem with most of them is:
       a. They are not intelligent enough to figure out what I want to do and 
          do it on my behalf.
       b. Collaboration between apps is unheard of. When Photos app wants to
          open a photo from the internet, it can't use Chrome's facilities to
          talk to the internet. Also when the user wants to share a website
          to someone, one can't let Chrome directly talk to Outlook to share
          the link through email. 
       c. Apps have a fixed set of functionality. They cannot acquire new 
          functionality or retire unnecessary ones automatically ie. If a
          user does not utilize a particular feature, apps don't have a way
          of retiring it. This is, of course, customized to a particular user. 

WHAT DO I WANT?
    1. Free and instant collaboration between apps. As an user, I should be
       able to configure how two apps can collaborate. Each app exposes a
       set of "Features" that I can mix and match to produce a tool/app of "MY"
       interest.
    2. Instantly augment an app's functionality by buying/building/configuring
       new features. All the quirks of interfacing between two features should
       be taken care of by TacOS.
    3. Apps should automatically figure out my current necessities and take 
       actions on my behalf. For bonus points, an app should be 
       able to negotiate and acquire features from other apps to automatically
       fulfill my necessity. It is ok if the app doesn't do everything I want.
       But it should be able to do at least a few.




